services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: gm3-backend
    ports:
      - "8005:8005"
    volumes:
      - type: bind
        source: ${DB_PATH:-./backend/garmin.db}
        target: /garmin.db
    environment:
      - ENVIRONMENT=development
      - STATIC_FILES_DIR=./dist
      - DB_PATH=${DB_PATH:-./backend/garmin.db}
      - IS_THIS_WORKING=${IS_THIS_WORKING:-no}
    restart: unless-stopped
