services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: gm3-backend
    ports:
      - "8005:8005"
    volumes:
      - type: bind
        source: ${DB_PATH:-./backend/garmin.db}
        target: /garmin.db
    environment:
      - ENVIRONMENT=development
      - STATIC_FILES_DIR=./dist
    restart: unless-stopped
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
    name: nginx-proxy